html {
    font-family: Ubuntu;
    font-size: 25px;
    color: #fff;
    background-color: #333
}

h1 {
    font-size: 45px;
    padding-left: 45px;
}

p {
    font-size: 25px;
    padding-left: 45px;
}

.infoButtonWrapper span {
    background-image: url(assets/info_icon.svg);
    top: 30px;
}
.configButtonWrapper span {
    background-image: url(assets/config_icon.svg);
    top: 90px;
}
.balancingButtonWrapper span {
    background-image: url(assets/balacing_icon.svg);
    top: 150px;
}

.infoButtonWrapper span, .configButtonWrapper span, .balancingButtonWrapper span {
    display: inline-block;
    width: 75px;
    height: 50px;
    position: fixed;
    right: 0px;
    transition: 0.5s;
}

.info, .config, .balancing {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
}

.info p, .config p, .balancing p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.info h1, .config h1, .balancing h1 {
    font-size: 35px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.info h2, .config h2, .balancing h2 {
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.balancing h2 {
    font-size: 28px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.info h3, .config h3, .balancing h3 {
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: normal;
}

.info h4 {
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.config h4 {
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: normal;
}

.config h3 {
    text-align: center;
}

.inputConfig, .inputConfig2, .inputConfigVersion {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
}

.inputConfig label {
    padding-left: 25px;
    font-size: 20px;
    top: 100px;
    text-align: right;
}

.inputConfig2 label {
    padding-left: 45px;
    font-size: 20px;
    top: 100px;
    text-align: right;
}

.inputConfigVersion label {
    padding-left: 65px;
    font-size: 20px;
    top: 100px;
    text-align: right;
}

.inputConfig input, .inputConfig2 input, .inputConfigVersion input {
    width: 92px;
}

.inputConfigDepthTableWrapper table {
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.inputConfigDepthTableWrapper td, .inputConfigDepthTableWrapper th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 20px;
}

.inputConfigDepthTableWrapper tr:nth-child(even) {
    background-color: #444;
}

.config button {
    margin-left: 35px;
    width: 125px;
    font-size: 20px;
    display: block;
    margin: auto;
}

.mainWrapper {
    z-index: 1;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.simulationWrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
